<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Start with Touch ID.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2EF0C5CC1E560EFA004752B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EF0C5E01E560EFB004752B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EF0C5EB1E560EFB004752B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
